<header class="site-header">
    <h1 class="web-t" onclick="window.location.href='/'"><span>function</span><em> 천방지축 얼렁뚱땅
        </em><span>(</span><i>🤣</i><span>)</span>{<br />
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="nbsp">title =</span> 빙글빙글 돌아가는 맨딩이의 개발일지
        <br />
        }
    </h1>

    <h1 class="mob-t" onclick="window.location.href='/'">
        <span>천/얼/빙/돌(</span><i>🤣</i><span>)</span>
        <br />맨딩이의 개발일지
    </h1>

    <nav>
        <div class="h-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="side">
            <div class="close">
                <span></span>
                <span></span>
            </div>
            <ul class="slide">
                <li class="on"><a href="#">All Post</a>
                </li>
                <li><a>devlopment</a>
                    <ul>
                        <li><a href="{{ .Site.BaseURL }}/development/htmlcss">HTML & CSS</a></li>
                        <li><a href="{{ .Site.BaseURL }}/development/javascriptjquery">Javascript & Jquery</a></li>
                        <li><a href="{{ .Site.BaseURL }}/development/framework">Framework</a></li>
                        <li><a href="{{ .Site.BaseURL }}/development/velog">Velog</a></li>
                    </ul>
                    <span class="down"></span>
                </li>
                <hr />
                <li><a href="{{ .Site.BaseURL }}/about">About</a></li>
                <li><a href="{{ .Site.BaseURL }}/archive">Archive</a></li>
                <li><a href="{{ .Site.BaseURL }}/tags">Tag</a></li>
            </ul>
        </div>
    </nav>
</header>