@import "../../sass/base/mixin";

// Header text feature
.selfie{
  padding-top: 100px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.selfie a img{
  width: 150px; height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.call-out {
  @extend %padding-small;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.5em;
  font-weight: $bold;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-color;
}

.home{
  padding: 0 30px;
  // Post listing
  .posts {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 0 30px;
    width: $container-xl;
    margin: 0 auto;
    padding: 50px 0;
  
    nav{
      h2{
        margin: 0;
      }
  
      >ul{
        display: inline-block;
        width: 100%;
        height: auto;
        border: 1px solid $border-color;
        list-style: none;
        padding: 20px;
        border-radius: 6px;
  
        >li{
          display: inline-block;
          width: 100%;
          position: relative;
          margin-bottom: 10px;
          list-style: none;
          padding-left: 10px;
          line-height: 1;
          cursor: pointer;
        
          
          a{
            color: $sub-color;
            line-height: 1;
          }
          
          >ul{
            display: none;
            margin: 5px 0 0 8px;
            list-style: none;

            li a{
              font-size: 14px;
              color: $sub-color;
            }
          }

          .down{
            position: absolute;
            top: 5px;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 9px 8px;
            border-color: transparent transparent $border-color transparent;
            transform: rotateZ(180deg);
            cursor: pointer;
          }
          .down.on{
            transform: rotateZ(0deg);
            border-color: transparent transparent $border-sub-color transparent;
          }
        }
        >li:last-child{
          margin-bottom: 0;
        }
        >li.on,li:hover{
          
          >a{
            color: $border-sub-color;
            line-height: 1;
          }
        }
        li.on{
          .down{
            border-color: transparent transparent $border-sub-color transparent;
          }
        }
        li:hover{
          .down{
            border-color: transparent transparent $border-sub-color transparent;
          }
        }
        >li.on:before,li:hover::before{
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          display: block;
          width: 2.5px;
          height: 100%;
          background: #000;
          border-radius: 5px;
        }
      }
    }
  
    >div{
      h3{
        margin-top: 0;
  
        span{
          color: #999;
          font-size: 18px;
        }
      }
    }
  
    .post-box{
      .post-teaser {
        width: 100%;
        display: inline-block;
        padding: 20px;
        margin-bottom: 10px;
        
        a{
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          h4{
            margin: 0;
            /* padding: 0 5px; */
            font-size: 24px;
            line-height: 1.2;
            letter-spacing: 0;
            box-sizing: border-box;
            color: $text-color;
          }
          
          .post-info{
            position: relative;
           /*  padding: 0 20px; */
          
            p.meta{
              margin: 5px 0 15px;
              font-size: 0.8em;
              letter-spacing: 0;
              font-weight: $normal;
              text-transform: capitalize;
              color: $sub-color;
            }
    
            .excerpt{
              color: $sub-color;
    
              p{
                margin: 0;
                font-size: 0.9em;
                line-height: 1.4;
                font-weight: $medium;
                color: $text-color;
      
                code.highlighter-rouge{
                  padding: 0;
                  line-height: inherit;
                }
              }
            }
          }
        }
      }
      .post-teaser:hover{
        background: #f0f0f0;
        border-radius: 6px;
      }
    }
  }
}
@include pc {
  .home{
    .posts{
      width: 100%;
    }
  }
}

@include tab-l {
  .home{
    .posts{
      display: block;
      width: 100%;
  
      nav{
        display: none;
      }
    }
  }
}

@include tab-m {
  
}

@include tab-s {
  .home{
    padding: 0;
    .posts{
      display: block;
      width: 100%;
      padding: 16px 0 30px;
  
      >div{
        h3{
          padding: 0 16px;
        }
  
      }
      .post-box{
        .post-teaser{
          margin: 0;
          padding: 20px 16px;
          border-bottom: 1px solid $border-color;
          background: $background-color;
          box-sizing: border-box;
        }
        .post-teaser:first-child{
          border-top: 1px solid $border-color;
        }
        .post-teaser:hover{
          border-radius: 0;
        }
      }
    }
  }
}

@include mob-l {
  .home{
    .posts{
      >div{
        h3{
          font-size: 16px;
        }
      }
      .post-box{
        .post-teaser{
          a{
            h4{
              font-size: 18px;
            }
            .post-info{
              p.meta{
                font-size: 11px;
              }
              .excerpt{      
                p{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mob-m {
  
}

@include mob-s {
  
}



// Pagination
.pagination .button {
  i {
    vertical-align: middle;
  }
}
.pagination {
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}
